@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@keyframes up-and-down {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(0); } }

@keyframes rotate360 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

:root {
  --nav-btn: rgb(205, 92, 92);
  --nav-btn-light: rgba(205, 92, 92, 0.8);
  --projects-bg-overlay: rgba(0, 128, 128, 0.8);
  --certifications-bg-overlay: rgba(205, 133, 63, 0.9);
  --contact-bg-overlay: rgba(255, 255, 255, 0.5); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  position: relative; }

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: [nav-start] 6rem [nav-end header-start] 85vh [header-end projects-start] minmax(100vh, min-content) [projects-end certifications-start] minmax(100vh, min-content) [certifications-end contact-start] calc(100vh - 5rem) [contact-end]; }

.header {
  grid-column: 3 / 11;
  grid-row: header-start / header-end; }

.projects {
  grid-column: 1 / -1;
  grid-row: projects-start / projects-end;
  background-image: linear-gradient(var(--projects-bg-overlay), var(--projects-bg-overlay)), url(/img/forest-bg.jpg);
  background-size: cover;
  clip-path: polygon(0 5rem, 100% 0, 100% 100%, 0% 100%);
  margin-top: -3rem; }

.certifications {
  grid-row: certifications-start / certifications-end;
  grid-column: 1 / -1;
  row-gap: 20vh;
  background-image: linear-gradient(var(--certifications-bg-overlay), var(--certifications-bg-overlay)), url(/img/birch-bg.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 5rem, 100% 0, 100% calc(100% - 5rem), 0% 100%);
  margin-top: -6rem; }

.contact {
  grid-row: contact-start / contact-end;
  grid-column: 1 / -1;
  z-index: 10;
  border-top: 1px solid #000;
  margin-top: -5rem; }

.card {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 2rem;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  backface-visibility: hidden;
  overflow: hidden; }
  .card:hover {
    transform: scale(1.1); }
  .card figure {
    grid-row: 1 / 2; }
    .card figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
  .card p {
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .card a {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--nav-btn);
    padding: 1.5rem; }
    .card a i {
      margin-left: 1rem; }
    .card a:link, .card a:visited, .card a:active {
      text-decoration: none;
      color: #fff; }
    .card a:hover {
      cursor: pointer;
      background-color: var(--nav-btn-light); }

.certificate {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  backface-visibility: hidden; }
  .certificate__label {
    cursor: pointer;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1rem 0;
    margin-top: 1rem;
    background-image: linear-gradient(90deg, #fff 0%, #fff 50%, #000 50%);
    background-size: 220%;
    transition: all 0.4s; }
    .certificate__label span {
      grid-row: 1 / 2;
      grid-column: 1 / -1; }
    .certificate__label i {
      grid-row: 1 / 2;
      grid-column: 2 / -1;
      justify-self: end;
      color: #fff;
      margin-right: 2rem;
      transition: transform 0.2s; }
      .certificate__label i:hover {
        transform: scale(1.1); }
      .certificate__label i.fa-window-minimize {
        transform: rotate(180deg); }
        .certificate__label i.fa-window-minimize:hover {
          transform: rotate(180deg) scale(1.1); }
    .certificate__label:hover {
      background-position: 100%;
      color: #fff; }
  .certificate .toggler {
    display: none; }
    .certificate .toggler + .certificate__info {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.2s ease-in-out; }
    .certificate .toggler:checked + .certificate__info {
      max-height: 40rem;
      opacity: 1; }
  .certificate__info {
    width: 100%;
    border: 1px solid black;
    background-color: #fff;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .certificate__info--link {
      grid-column: 1 / 2;
      grid-row: 1 / 3; }
      .certificate__info--link img {
        height: auto;
        width: 100%;
        max-height: 40rem;
        margin-left: 1rem;
        transition: all 0.2s; }
        .certificate__info--link img:hover {
          transform: scale(1.01);
          box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25); }
    .certificate__info--skills {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      .certificate__info--skills .skills-tech-icon-list {
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 80%; }
      .certificate__info--skills .tech-icon:hover {
        transform: none; }
      .certificate__info--skills .other-skill {
        height: 100%;
        text-align: center;
        font-size: 1.2rem;
        display: grid;
        justify-items: center; }
        .certificate__info--skills .other-skill i {
          font-size: 2rem; }
    .certificate__info--projects {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      .certificate__info--projects h3 {
        margin-bottom: 1rem; }
      .certificate__info--projects ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        font-size: 1.4rem; }
        .certificate__info--projects ul li {
          padding: 0.5rem 1rem;
          display: flex;
          cursor: default; }
          .certificate__info--projects ul li a {
            display: flex;
            text-decoration: none;
            transition: all 0.3s; }
            .certificate__info--projects ul li a:link, .certificate__info--projects ul li a:visited, .certificate__info--projects ul li a:active {
              color: #000; }
            .certificate__info--projects ul li a p {
              display: flex;
              flex-direction: column; }
              .certificate__info--projects ul li a p::after {
                content: '';
                align-self: center;
                display: block;
                width: 0;
                border-top: 1px solid black;
                transition: all 0.3s; }
            .certificate__info--projects ul li a:hover {
              transform: scale(1.1); }
              .certificate__info--projects ul li a:hover p::after {
                width: 98%; }
          .certificate__info--projects ul li i {
            margin-right: 1rem;
            color: #000; }
          .certificate__info--projects ul li .icon-link {
            color: darkblue; }

.contact-form {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-family: inherit; }
  .contact-form__field {
    display: flex;
    flex-direction: column; }
    .contact-form__field:focus-within label {
      transform: translateY(0);
      opacity: 1; }
    .contact-form__field:focus-within input::placeholder,
    .contact-form__field:focus-within textarea::placeholder {
      opacity: 0; }
    .contact-form__field label {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      transition: all 0.2s;
      transform: translateY(5rem);
      opacity: 0; }
    .contact-form__field input,
    .contact-form__field textarea {
      margin-bottom: 1rem;
      padding: 1rem;
      font-size: inherit;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      border: 1px solid black;
      transition: all 0.2s; }
      .contact-form__field input:focus,
      .contact-form__field textarea:focus {
        outline: none;
        border: 2px solid teal; }
      .contact-form__field input:required:focus,
      .contact-form__field textarea:required:focus {
        outline: none; }
    .contact-form__field textarea {
      resize: none;
      font-family: inherit; }
    .contact-form__field .submit {
      border: 1px solid black;
      color: #fff;
      background-color: var(--nav-btn-light);
      transition: all 0.1s; }
      .contact-form__field .submit:hover {
        cursor: pointer;
        background-color: var(--nav-btn); }
      .contact-form__field .submit:active {
        border: 1px solid black;
        transform: translateY(1px); }
      .contact-form__field .submit:focus {
        border: 1px solid black; }

.nav {
  grid-column: 1 / -1;
  grid-row: nav-start / nav-end;
  display: flex;
  justify-content: flex-end;
  background-color: var(--nav-btn);
  font-size: 2rem;
  color: #fff; }
  .nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin-right: 2rem; }
    .nav ul li {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem; }
      .nav ul li:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2); }
      .nav ul li a:link, .nav ul li a:visited, .nav ul li a:active {
        text-decoration: none;
        color: #fff; }
        .nav ul li a:link i, .nav ul li a:visited i, .nav ul li a:active i {
          margin-right: 1rem; }

.side-nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  margin-left: 1.5rem;
  z-index: 99999; }
  .side-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .side-nav ul li:not(:last-child) {
      margin-bottom: 3rem; }
    .side-nav ul .side-nav__link {
      position: relative; }
      .side-nav ul .side-nav__link i {
        font-size: 2.75rem; }
      .side-nav ul .side-nav__link span {
        opacity: 0;
        font-size: 1.4rem;
        position: absolute;
        left: 1.5rem;
        top: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2px 5px;
        border-radius: 3px;
        transition: all 0.2s; }
      .side-nav ul .side-nav__link:link, .side-nav ul .side-nav__link:visited {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        transition: all 0.2s; }
        .side-nav ul .side-nav__link:link:hover, .side-nav ul .side-nav__link:visited:hover {
          color: #fff;
          transform: scale(1.1); }
        .side-nav ul .side-nav__link:link:hover span, .side-nav ul .side-nav__link:visited:hover span {
          opacity: 1;
          z-index: 9999999999999999; }

.tech-icon-list {
  display: flex;
  justify-content: space-around;
  width: 80%;
  list-style: none; }

.tech-icon {
  cursor: default;
  text-align: center;
  transition: 0.2s; }
  .tech-icon:hover {
    transform: scale(1.2); }
  .tech-icon i {
    font-size: 4rem;
    margin-bottom: 0.5rem; }
  .tech-icon figcaption {
    font-size: 1rem; }
  .tech-icon .fa-html5 {
    color: orangered; }
  .tech-icon .fa-css3-alt {
    color: royalblue; }
  .tech-icon .fa-sass {
    color: crimson; }
  .tech-icon .fa-js-square {
    color: darkorange; }
  .tech-icon .fa-react {
    color: teal;
    animation: rotate360 5s linear 0s infinite normal forwards;
    animation-play-state: paused; }
    .tech-icon .fa-react:hover {
      animation-play-state: running; }
  .tech-icon .fa-node-js {
    color: yellowgreen; }
  .tech-icon .fa-git-alt {
    color: darkviolet; }
  .tech-icon .fa-linkedin {
    color: mediumblue; }
  .tech-icon .fa-github {
    color: darkviolet; }
  .tech-icon .fa-twitter {
    color: dodgerblue; }

.certifications {
  display: grid;
  grid-template-rows: 17.5rem 1fr 15rem;
  grid-template-columns: repeat(12, 1fr); }
  .certifications__description {
    grid-column: -2 / 2;
    justify-self: end;
    align-self: end;
    text-align: right;
    display: flex;
    align-items: center;
    color: #fff; }
    .certifications__description i {
      font-size: 5rem;
      margin-left: 1rem; }
    .certifications__description h2 {
      font-size: 4rem; }
    .certifications__description p {
      font-size: 2rem;
      font-weight: 300; }
  .certifications .certificates {
    grid-column: 2 / -2;
    grid-row: 2 / 3;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw; }

.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content 0.5fr 50% 1fr min-content; }
  .contact__header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-btn);
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-size: 3rem; }
    .contact__header i {
      margin-left: 1rem;
      font-size: 4rem; }
  .contact__left {
    grid-row: 2 / 4;
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr min-content;
    background-color: var(--contact-bg-overlay); }
    .contact__left h3 {
      grid-row: 2 / 3;
      grid-column: 2 / 6;
      justify-self: center;
      align-self: center;
      font-size: 1.6rem;
      font-weight: 400; }
    .contact__left .contact-content-left {
      grid-column: 2 / 6;
      grid-row: 3 / 4; }
  .contact__divider {
    grid-row: 2 / 4;
    grid-column: 6 / 7;
    border-right: 2px solid black;
    height: 75%;
    justify-self: end;
    align-self: center;
    transform: translateX(1px);
    margin-top: 5rem; }
  .contact__right {
    grid-row: 2 / 4;
    grid-column: 7 / 13;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    background-color: var(--contact-bg-overlay); }
    .contact__right .contact-content-right {
      grid-column: 2 / 6;
      display: grid;
      grid-template-rows: repeat(3, min-content);
      row-gap: 3rem;
      margin-top: 5rem; }
      .contact__right .contact-content-right__link {
        display: flex;
        align-items: center;
        font-size: 2rem;
        transition: all 0.3s; }
        .contact__right .contact-content-right__link p {
          cursor: pointer;
          display: flex;
          flex-direction: column; }
          .contact__right .contact-content-right__link p::after {
            content: '';
            align-self: center;
            display: block;
            width: 0;
            border-top: 1px solid black;
            transition: all 0.3s; }
        .contact__right .contact-content-right__link:hover {
          transform: scale(1.1); }
          .contact__right .contact-content-right__link:hover p::after {
            width: 98%; }
        .contact__right .contact-content-right__link i {
          margin-right: 1rem; }
      .contact__right .contact-content-right__icons {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .contact__right .contact-content-right__icons a:link, .contact__right .contact-content-right__icons a:visited, .contact__right .contact-content-right__icons a:active {
          color: #000;
          text-decoration: none; }
        .contact__right .contact-content-right__icons figure {
          cursor: pointer; }
        .contact__right .contact-content-right__icons h4 {
          font-size: 1.4rem; }
        .contact__right .contact-content-right__icons ul {
          margin-top: 1rem;
          display: flex;
          justify-content: space-between;
          width: 100%; }
        .contact__right .contact-content-right__icons h4 {
          margin-bottom: 1rem; }
  .contact__description {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    background-color: var(--contact-bg-overlay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem; }
    .contact__description--box {
      width: 100%; }
      .contact__description--box p {
        padding: 0.5rem;
        text-align: center; }
  .contact__bottom {
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    width: 100%;
    background-color: var(--contact-bg-overlay); }
    .contact__bottom p {
      text-align: center;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 0.5rem 0; }

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr min-content 1fr 1fr 1fr;
  align-items: center;
  font-size: 3rem; }
  .header__left {
    grid-column: 2 / 9;
    grid-row: 3 / 4;
    display: grid;
    grid-row-gap: 2rem;
    justify-items: center;
    text-align: center; }
    .header__left h1 {
      font-weight: 400;
      line-height: 1; }
    .header__left p {
      font-weight: 300; }
  .header__img {
    grid-column: 8 / 12;
    grid-row: 2 / 5;
    z-index: -10;
    position: relative; }
    .header__img::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0) 100%);
      z-index: 10; }
    .header__img img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      filter: sepia(25%); }
  .header .learn-more {
    grid-row: 5 / 7;
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header .learn-more p {
      font-size: 2rem;
      font-weight: 300; }
    .header .learn-more i {
      font-size: 3rem; }
    .header .learn-more:link, .header .learn-more:visited, .header .learn-more:active {
      color: #000;
      text-decoration: none; }
    .header .learn-more:hover {
      cursor: pointer; }
      .header .learn-more:hover i {
        animation: up-and-down 0.75s ease-in-out 0s infinite; }

.projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20rem 1fr 15rem;
  grid-row-gap: 5rem; }
  .projects__description {
    grid-column: 2 / -2;
    align-self: end;
    display: flex;
    align-items: center;
    color: #fff; }
    .projects__description i {
      font-size: 4rem;
      margin-right: 1rem; }
    .projects__description h2 {
      font-size: 4rem; }
    .projects__description p {
      font-size: 2rem;
      font-weight: 300; }
  .projects__cards {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: min-content;
    grid-gap: 10rem; }
