@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: [nav-start] 6rem [nav-end header-start] 85vh [header-end projects-start] minmax(100vh, min-content) [projects-end hundred-days-start] min-content [hundred-days-end certifications-start] 100vh [certifications-end]; }

.nav {
  grid-column: 1 / -1;
  grid-row: nav-start / nav-end;
  display: flex;
  justify-content: flex-end;
  background-color: #cd5c5c;
  font-size: 2rem;
  color: #fff; }
  .nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin-right: 2rem; }
    .nav ul li {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem; }
      .nav ul li:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2); }
      .nav ul li a:link, .nav ul li a:visited, .nav ul li a:active {
        text-decoration: none;
        color: #fff; }
        .nav ul li a:link i, .nav ul li a:visited i, .nav ul li a:active i {
          margin-right: 1rem; }

@keyframes up-and-down {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(0); } }

@keyframes rotate360 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.card {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 2rem;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  backface-visibility: hidden;
  overflow: hidden; }
  .card:hover {
    transform: scale(1.1); }
  .card figure {
    grid-row: 1 / 2; }
    .card figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
  .card p {
    align-self: center;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .card a {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: indianred;
    padding: 1.5rem; }
    .card a i {
      margin-left: 1rem; }
    .card a:link, .card a:visited, .card a:active {
      text-decoration: none;
      color: #fff; }
    .card a:hover {
      cursor: pointer;
      background-color: rgba(205, 92, 92, 0.8); }

.tech-icon {
  cursor: default;
  text-align: center; }
  .tech-icon i {
    font-size: 4rem;
    margin-bottom: 0.5rem; }
  .tech-icon figcaption {
    font-size: 1rem; }
  .tech-icon .fa-html5 {
    color: orangered; }
  .tech-icon .fa-css3-alt {
    color: royalblue; }
  .tech-icon .fa-sass {
    color: crimson; }
  .tech-icon .fa-js-square {
    color: darkorange; }
  .tech-icon .fa-react {
    color: teal;
    animation: rotate360 5s linear 0s infinite normal forwards;
    animation-play-state: paused; }
    .tech-icon .fa-react:hover {
      animation-play-state: running; }
  .tech-icon .fa-node-js {
    color: yellowgreen; }
  .tech-icon .fa-git-alt {
    color: darkviolet; }

.hundred-days {
  grid-row: hundred-days-start / hundred-days-end;
  grid-column: 1 / -1;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5rem 0; }
  .hundred-days-container {
    padding: 12rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .hundred-days-container h2 {
      font-weight: 400;
      font-size: 6rem;
      color: chartreuse;
      margin-bottom: 2rem; }
    .hundred-days-container p {
      font-weight: 300;
      text-align: center;
      font-size: 2rem;
      color: #fff;
      margin-bottom: 2rem;
      padding: 1rem 15%;
      background-color: rgba(0, 0, 0, 0.6); }

.certifications {
  grid-row: certifications-start / certifications-end;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(205, 133, 63, 0.9), rgba(205, 133, 63, 0.9)), url(/img/birch-bg.jpg);
  background-size: cover;
  transform: skewY(-4deg);
  display: grid;
  grid-template-rows: 15rem 1fr 15rem;
  grid-template-columns: repeat(12, 1fr); }
  .certifications > * {
    transform: skewY(4deg); }
  .certifications__description {
    grid-column: -2 / 2;
    justify-self: end;
    align-self: end;
    text-align: right;
    display: flex;
    align-items: center;
    color: #fff; }
    .certifications__description i {
      font-size: 5rem;
      margin-left: 1rem; }
    .certifications__description h2 {
      font-size: 4rem; }
    .certifications__description p {
      font-size: 2rem;
      font-weight: 300; }
  .certifications .certificates {
    grid-column: 2 / -2;
    grid-row: 2 / 3;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    text-align: center;
    font-size: 2rem; }
    .certifications .certificates label {
      cursor: pointer;
      width: 100%;
      border: 1px solid black;
      padding: 1rem 0;
      margin-top: 1rem;
      background-color: #fff; }
    .certifications .certificates .toggler {
      display: none; }
    .certifications .certificates .toggler + .toggler-content {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.2s ease-in-out; }
    .certifications .certificates .toggler:checked + .toggler-content {
      max-height: 1000px;
      opacity: 1;
      width: 100%;
      border: 1px solid black;
      background-color: #ff; }

.header {
  grid-column: 3 / 11;
  grid-row: header-start / header-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr min-content 1fr 1fr 1fr;
  align-items: center;
  font-size: 3rem; }
  .header__left {
    grid-column: 2 / 9;
    grid-row: 3 / 4;
    display: grid;
    grid-row-gap: 2rem;
    justify-items: center;
    text-align: center; }
    .header__left h1 {
      font-weight: 400;
      line-height: 1; }
    .header__left p {
      font-weight: 300; }
    .header__left ul {
      display: flex;
      justify-content: space-around;
      width: 80%;
      list-style: none; }
      .header__left ul .tech-icon {
        transition: 0.2s; }
        .header__left ul .tech-icon:hover {
          transform: scale(1.2); }
  .header__img {
    grid-column: 8 / 12;
    grid-row: 2 / 5;
    z-index: -10;
    position: relative; }
    .header__img::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0) 100%);
      z-index: 10; }
    .header__img img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      filter: sepia(25%); }
  .header .learn-more {
    grid-row: 5 / 7;
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header .learn-more p {
      font-size: 2rem;
      font-weight: 300; }
    .header .learn-more i {
      font-size: 3rem; }
    .header .learn-more:link, .header .learn-more:visited, .header .learn-more:active {
      color: #000;
      text-decoration: none; }
    .header .learn-more:hover {
      cursor: pointer; }
      .header .learn-more:hover i {
        animation: up-and-down 0.75s ease-in-out 0s infinite; }

.projects {
  grid-column: 1 / -1;
  grid-row: projects-start / projects-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15rem 1fr 15rem;
  grid-row-gap: 5rem;
  background-image: linear-gradient(rgba(0, 128, 128, 0.8), rgba(0, 128, 128, 0.8)), url(/img/forest-bg.jpg);
  background-size: cover;
  transform: skewY(-4deg); }
  .projects > * {
    transform: skewY(4deg); }
  .projects__description {
    grid-column: 2 / -2;
    align-self: end;
    display: flex;
    align-items: center;
    color: #fff; }
    .projects__description i {
      font-size: 4rem;
      margin-right: 1rem; }
    .projects__description h2 {
      font-size: 4rem; }
    .projects__description p {
      font-size: 2rem;
      font-weight: 300; }
  .projects__cards {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: min-content;
    grid-gap: 10rem; }
