:root {
  --bg-color: #fff;
  --text-color: #000;
}

[data-theme='dark'] {
  --bg-color: #000;
  --text-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:
    [nav-start] 6rem [nav-end header-start] 85vh [header-end projects-start] minmax(
      100vh,
      min-content
    )
    [projects-end hundred-days-start] 50vh [hundred-days-end certifications-start] 100vh [certifications-end];
}
