.nav {
  grid-column: 1 / -1;
  grid-row: nav-start / nav-end;

  display: flex;
  justify-content: flex-end;

  background-color: #cd5c5c;

  font-size: 2rem;
  color: #fff;

  & ul {
    display: flex;
    align-items: center;

    height: 100%;
    list-style: none;
    margin-right: 2rem;

    & li {
      display: flex;
      align-items: center;

      height: 100%;
      padding: 0 1rem;

      &:hover {
        cursor: pointer;
        background-color: rgba(#fff, 0.2);
      }

      & a {
        &:link,
        &:visited,
        &:active {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
