:root {
  --nav-btn: rgb(205, 92, 92);
  --nav-btn-light: rgba(205, 92, 92, 0.8);
  --nav-btn-dark: rgb(173, 77, 77);

  --projects-bg-overlay: rgba(0, 128, 128, 0.8);
  --projects-bg-overlay2: rgba(0, 128, 128, 0.75);
  --certifications-bg-overlay: rgba(205, 133, 63, 0.9);
  --certifications-bg-overlay2: rgba(205, 133, 63, 1);
  --contact-bg-overlay: rgba(255, 255, 255, 0.7);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(small) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  position: relative;

  font-family: 'Roboto', sans-serif;
}
