.certifications {
  display: grid;
  grid-template-rows: 17.5rem 1fr 15rem;
  grid-template-columns: repeat(12, 1fr);

  &__description {
    grid-column: -2 / 2;
    justify-self: end;
    align-self: end;
    text-align: right;

    display: flex;
    align-items: center;

    color: #fff;

    @include respond(medium) {
      display: none;
    }

    & i {
      font-size: 5rem;
      margin-left: 1rem;
    }

    & h2 {
      font-size: 4rem;
    }

    & p {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  &__description--media {
    display: none;

    @include respond(medium) {
      grid-column: 3 / -3;

      align-self: end;

      display: flex;
      flex-direction: column;
      align-items: center;

      color: #fff;
    }

    & div {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    & i {
      font-size: 4rem;
      margin-right: 1rem;
    }

    & h2 {
      font-size: 4rem;
    }

    & p {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  & .certificates {
    grid-column: 2 / -2;
    grid-row: 2 / 3;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;

    @include respond(medium) {
      grid-column: 3 / -3;
    }
  }
}
