.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content 0.5fr 50% 1fr min-content;

  position: relative;

  @include respond(medium) {
    grid-template-rows: 10vh 20vh 45vh 20vh 5vh;
  }

  &__header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--nav-btn);
    color: #fff;

    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-size: 3rem;

    & i {
      margin-left: 1rem;
      font-size: 4rem;
    }
  }

  &__form {
    grid-row: 2 / 4;
    grid-column: 1 / 7;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr min-content;

    background-color: var(--contact-bg-overlay);

    @include respond(medium) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;

      grid-template-rows: min-content;

      padding: 4rem 0;
    }

    @include respond(small) {
      padding: 1rem 0;
    }

    & h3 {
      grid-row: 2 / 3;
      grid-column: 2 / 6;

      justify-self: center;
      align-self: center;

      font-size: 1.6rem;
      font-weight: 400;

      @include respond(medium) {
        cursor: pointer;

        padding: 1rem 2rem;
        border: 2px solid black;
        border-radius: 100000px;
        color: #fff;

        background-color: var(--projects-bg-overlay);
      }

      @include respond(small) {
        font-size: 2.4rem;
      }

      &:hover {
        @include respond(medium) {
          background-color: teal;
        }
      }
    }

    // extra content divs needed so parent divs can stretch full size to give translucent white background over the parallax image bg

    & .contact-content-form {
      grid-column: 2 / 6;
      grid-row: 3 / 4;

      @include respond(medium) {
        display: none;
      }
    }
  }

  &__divider {
    grid-row: 2 / 4;
    grid-column: 6 / 7;

    border-right: 2px solid rgba(0, 0, 0, 0.25);
    height: 75%;

    justify-self: end;
    align-self: center;
    transform: translateX(1px);

    margin-top: 5rem;

    @include respond(medium) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;

      justify-self: center;
      align-self: end;

      margin-top: 0;

      height: 0px;
      width: 50%;
      border-right: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    }
  }

  &__links {
    grid-row: 2 / 4;
    grid-column: 7 / 13;

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    justify-items: center;
    align-items: center;

    background-color: var(--contact-bg-overlay);

    @include respond(medium) {
      grid-row: 3 / 4;
      grid-column: 1 / -1;

      padding: 4rem 0;
    }

    @include respond(small) {
      padding: 1rem 0;
    }

    // extra content divs needed so parent divs can stretch full size to give translucent white background over the parallax image bg

    & .contact-content-links {
      grid-column: 2 / 6;

      display: grid;
      grid-template-rows: repeat(3, min-content);
      row-gap: 3rem;

      margin-top: 5rem;

      @include respond(medium) {
        margin: 0;
      }

      &__link {
        display: flex;
        align-items: center;

        font-size: 2rem;

        transition: all 0.3s;

        @include respond(medium) {
          padding: 1rem 2rem;
          border: 1px solid black;
          border-radius: 100000px;
          background-color: rgba(255, 255, 255, 0.6);
        }

        @include respond(small) {
          font-size: 2.4rem;
        }

        & p {
          cursor: pointer;

          display: flex;
          flex-direction: column;

          &::after {
            content: '';

            align-self: center;
            display: block;
            width: 0;
            border-top: 1px solid rgb(0, 0, 0);

            transition: all 0.3s;

            @include respond(medium) {
              display: none;
            }
          }
        }

        &:hover {
          transform: scale(1.1);

          & p::after {
            width: 98%;
          }
        }

        & i {
          margin-right: 1rem;
        }
      }

      &__icons {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(small) {
          margin-top: 1rem;
        }

        & a {
          &:link,
          &:visited,
          &:active {
            color: #000;
            text-decoration: none;
          }
        }

        & figure {
          cursor: pointer;
        }

        & h4 {
          font-size: 1.4rem;
          margin-bottom: 1rem;

          @include respond(small) {
            font-size: 1.8rem;
          }
        }

        // overwrite .tech-icon-list
        ul {
          margin-top: 1rem;

          display: flex;
          justify-content: space-between;

          & .tech-icon {
            & i {
              @include respond(small) {
                font-size: 5rem;
              }
            }
            & figcaption {
              @include respond(small) {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  &__divider--media {
    display: none;

    @include respond(medium) {
      display: block;

      grid-row: 3 / 4;
      grid-column: 1 / -1;

      justify-self: center;
      align-self: end;

      margin-top: 0;

      height: 0px;
      width: 50%;
      border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    }
  }

  &__description {
    grid-row: 4 / 5;
    grid-column: 1 / -1;

    background-color: var(--contact-bg-overlay);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;

    @include respond(medium) {
      padding: 4rem 0;
    }

    @include respond(small) {
      font-size: 2rem;
      padding: 1rem 0;
    }

    &--box {
      width: 75%;

      & p {
        padding: 0.5rem;
        text-align: center;
      }
    }
  }

  &__bottom {
    grid-row: 5 / 6;
    grid-column: 1 / -1;

    width: 100%;
    background-color: var(--contact-bg-overlay);

    display: flex;
    align-items: flex-end;

    & p {
      width: 100%;
      text-align: center;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8);

      padding: 0.5rem 0;
    }
  }
}
