.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr min-content 1fr 1fr 1fr;
  align-items: center;

  font-size: 3rem;

  @include respond(medium) {
    grid-template-rows: 1fr min-content 1fr 1fr;
  }

  &__left {
    grid-column: 2 / 9;
    grid-row: 3 / 4;

    display: grid;
    grid-row-gap: 2rem;
    justify-items: center;

    text-align: center;

    @include respond(large) {
      grid-column: 1 / 10;
    }

    @include respond(medium) {
      grid-column: 2 / -2;
      grid-row: 2 / 3;
    }

    & h1 {
      font-weight: 400;
      line-height: 1;
    }

    & p {
      font-weight: 300;

      @include respond(large) {
        padding: 0 3rem;
      }

      @include respond(small) {
        padding: 0;
      }
    }

    & .header__img--media {
      display: none;
      height: 15rem;
      width: 15rem;

      @include respond(medium) {
        display: block;
        z-index: -10;
        position: relative;
      }

      & img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: sepia(25%) brightness(125%);
      }
    }
  }

  &__img {
    grid-column: 8 / 12;
    grid-row: 2 / 5;
    z-index: -10;

    position: relative;

    @include respond(medium) {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba(#fff, 1) 0%,
        rgba(#fff, 0.25) 25%,
        rgba(#fff, 0) 100%
      );
      z-index: 10;
    }

    & img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      filter: sepia(25%);
    }
  }

  & .learn-more {
    grid-row: 5 / 7;
    grid-column: 1 / -1;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(medium) {
      grid-row: 3 / 5;
    }

    & p {
      font-size: 2rem;
      font-weight: 300;
    }

    & i {
      font-size: 3rem;
    }

    &:link,
    &:visited,
    &:active {
      color: #000;
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
      & i {
        animation: up-and-down 0.75s ease-in-out 0s infinite;
      }
    }
  }
}
