.certifications {
  grid-row: certifications-start / certifications-end;
  grid-column: 1 / -1;

  background-image: linear-gradient(rgba(peru, 0.9), rgba(peru, 0.9)),
    url(/img/birch-bg.jpg);
  background-size: cover;

  transform: skewY(-4deg);

  display: grid;
  grid-template-rows: 15rem 1fr 15rem;
  grid-template-columns: repeat(12, 1fr);

  & > * {
    transform: skewY(4deg);
  }

  &__description {
    grid-column: -2 / 2;
    justify-self: end;
    align-self: end;
    text-align: right;

    display: flex;
    align-items: center;

    color: #fff;

    & i {
      font-size: 5rem;
      margin-left: 1rem;
    }

    & h2 {
      font-size: 4rem;
    }

    & p {
      font-size: 2rem;
      font-weight: 300;
    }
  }

  & .certificates {
    grid-column: 2 / -2;
    grid-row: 2 / 3;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;

    text-align: center;
    font-size: 2rem;

    label {
      cursor: pointer;

      width: 100%;
      border: 1px solid black;
      padding: 1rem 0;
      margin-top: 1rem;
      background-color: #fff;
    }

    .toggler {
      display: none;
    }

    .toggler + .toggler-content {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }

    .toggler:checked + .toggler-content {
      max-height: 1000px;
      opacity: 1;

      width: 100%;
      border: 1px solid black;
      background-color: #ff;
    }
  }
}
