.certifications {
  grid-row: certifications-start / certifications-end;
  grid-column: 1 / -1;

  background-image: linear-gradient(rgba(peru, 0.8), rgba(peru, 0.8)),
    url(/img/desert-bg.jpg);
  background-size: cover;

  transform: skewY(-4deg);

  & > * {
    transform: skewY(4deg);
  }
}
